body {
  font-family: 'Montserrat', sans-serif;
  background-color: #CFE8EF
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

th, td, thead, table {
  border-width: 2px;
  border-style: solid;
  border-color:black;
}

td {
  background-color: white;
}

.calendar-table{
  background-color: #dee4ed;
  /* margin: 0px 110px;*/
  width: 80vw;
  height: 70vh
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.calendar-top-bar {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.today {
  background-color: #EFC2E0;
}

.prev-next-month {
  background-color: #CFE8EF
}

.weekday-th {
  padding: 7px;
  font-weight: bold
}

.large-btn {
  padding: 10px 0px;
  width: 125px;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.month-select {
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align-last: center;
    margin: 10px 0px;
}

.greeting {
  margin-bottom: 12px;
}

h3 {
  color: gray
}

i {
  font-size: 25px;
}

.edit-delete-btn-container {
  display: flex;
  flex-direction: row;
}

.edit,
.delete {
  margin: 0px 25px 0px 0px;
}

/*-------animations-------- */
.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

/* fade-in animation */
body,
.fade {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
